.main,
.nerd {
  margin: auto auto;
}
.main {
  width: 400px;
}
.nerd {
  width: 400px;
}
.dices {
  display: flex;
  justify-content: space-between;
}

p {
  color: rgb(61, 43, 226);
  font-weight: 700;
}

.btn {
  margin: 0 0 0 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  border: none;
}
.btn:hover {
  cursor: pointer;
  background-color: rgb(177, 105, 245);
  font-family: "Times New Roman", Times, serif;
  transition: ease-in-out 2s;
  color: aliceblue;
  width: 70px;
  height: 30px;
}
.nerd {
  z-index: -5;
  position: absolute;
}

h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(255, 255, 255);
  font-weight: 900;
}
